.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.image {
    height: 200px;
    width: 300px;
}

.btn {
    background-color: #D7DF22;
    width: 180px;
}

.btn:hover {
    background-color: white;
    color: blue;
}

@media only screen and (max-width:688px) {
    .products-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}